.carousel {
  padding-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
  padding: 3em;
}

.horizontalSlider___281Ls {
  height: 40vh;
}

p {
  width: 70%;
  margin: auto;
}

.buttons {
  border-radius: 3px;
  border: none;
  outline: none;
  color: gray;
}
